[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

colour = "*"
humanize = "*"
jinja2 = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
requests = "*"
seaborn = "*"


[dev-packages]

flake8 = "*"
flake8-isort = "*"


[requires]

python_version = "3.6"


[scripts]

generate = "python generate.py -o report.html"
